/home/arnab1896/a/GSOC-2018/python_graph_generator/nodify_cells_based_on_groups/for_gephi_edges.txt
/home/arnab1896/a/GSOC-2018/python_graph_generator/nodify_cells_based_on_groups/for_gephi_nodes.txt
